spring:
  h2:
    console:
      enabled: true

  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    driver-class-name: org.h2.Driver

  sql:
    init:
      schema-locations: classpath:data.sql
      data-locations: classpath:dummy.sql


